<!DOCTYPE HTML>
<html>
    <head>
        <title>ISDb</title>
    </head>
    <body>
       <h1>{{details.name}}</h1>
       <p>Owner: {{details.owner}}</p>
       <img src="/images/stuffie/{{details.id}}" />
    </body>
</html>
